@model CharityTestCore.Models.EPTListPersonModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminSimple.cshtml";

}
@section ProfileName
    {
    @if (User.Identity.IsAuthenticated)
        @User.Identity.Name


}
@section Body{

    @if (Model.ResultTestText != "$$")
    {
        <div class="info-box mb-3 bg-info">
            <span class="info-box-icon"><i class="fa fa-tag"></i></span>

            <div class="info-box-content">
                <span class="info-box-text"> </span>
                <span class="info-box-number">
                    <h3>@Model.ResultTestText</h3>
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">

                        <h3 class="card-title">
                            <i class="fa fa-text-width"></i>
                            توضیحات
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>
                            <dt>
                                <h3>@Model.ResultTestText</h3>
                            </dt>
                            <dt>

                            </dt>

                            <dd> @Model.ResultTest1Text</dd>
                            <dd> @Model.ResultTest2Text</dd>
                            <dd> @Model.ResultTest3Text</dd>
                            <dd> @Model.ResultTest4Text</dd>
                            <dd> @Model.ResultTest5Text</dd>
                            <dd> @Model.ResultTest6Text</dd>
                            <dd> @Model.ResultTest7Text</dd>
                            <dd> @Model.ResultTest8Text</dd>
                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->
            <div class="col-md-6">
                <!-- Bar chart -->
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-bar-chart-o"></i>
                            نمودار ستونی
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="bar-chart" style="height: 300px;">
                        </div>
                    </div>
                    <!-- /.card-body-->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->
        </div>
    }
}
@section script{


    <!-- FLOT CHARTS -->
    <script src="../../plugins/flot/jquery.flot.min.js"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="../../plugins/flot/jquery.flot.resize.min.js"></script>
    <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
    <script src="../../plugins/flot/jquery.flot.pie.min.js"></script>
    <!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
    <script src="../../plugins/flot/jquery.flot.categories.min.js"></script>
    <!-- Page script -->
    <!---------------------------------------------------------------->






    <script>
        $(function () {
            /*
             * BAR CHART
             * ---------
             */

            var bar_data = {
                data: [
                    ['ریسک پذیری متعادل', @Model.ResultTest1],
                    [' کانون کنترل', @Model.ResultTest2],
                    [' نیاز به موفقیت', @Model.ResultTest3],
                    [' سلامت فکری', @Model.ResultTest4],
                    [' عملگرایی', @Model.ResultTest5],
                    [' تحمل ابهام', @Model.ResultTest6],
                    [' رویا پردازی', @Model.ResultTest7],
                    [' چالش طلبی', @Model.ResultTest8],
                    [' کارآفرینی', @Model.ResultTest9],
                ],
                color: '#3c8dbc'
            }
            $.plot('#bar-chart', [bar_data], {
                grid: {
                    borderWidth: 1,
                    borderColor: '#f3f3f3',
                    tickColor: '#f3f3f3'
                },
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.5,
                        align: 'center'
                    }
                },
                xaxis: {
                    mode: 'categories',
                    tickLength: 0
                }
            })
            /* END BAR CHART */


        })

        /*
         * Custom Label formatter
         * ----------------------
         */
        function labelFormatter(label, series) {
            return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
                + label
                + '<br>'
                + Math.round(series.percent) + '%</div>'
        }
    </script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    }
                },
                "info": false,
            });
            $('#example2').DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    }
                },
                "info": false,
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "autoWidth": false
            });
        });
    </script>
}