@model CharityTestCore.Models.ChangePasswordInformation

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminSimple.cshtml";

}
@section ProfileName
    {
    @{
        var firstName = User.FindFirst("FirstName")?.Value;
        var lastName = User.FindFirst("LastName")?.Value;
    }
    @if (!string.IsNullOrEmpty(firstName) && !string.IsNullOrEmpty(lastName))
    {
        <span>سلام، @firstName @lastName</span>
    }
}
@section Body{
    @using (Html.BeginForm())
    {
        <div class="container" style="min-height: 80vh; display: flex; align-items: center; justify-content: center;">
            <div class="col-md-6 col-lg-4">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">تغییر رمزعبور </h3>
                    </div>

                    <form asp-action="ChangePassword" asp-controller="Account" method="post" class="form-horizontal">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="OldPassword">رمزعبور قدیم</label>
                                <input asp-for="OldPassword" id="OldPassword" type="password" placeholder=" رمزعبور قدیم را وارد کنید" class="form-control" required>
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                            <div class="form-group">
                                <label for="NewPassword">رمزعبور جدید</label>
                                <input asp-for="NewPassword" id="NewPassword" type="password" class="form-control" placeholder="رمزعبور را وارد کنید" required>
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                            <div class="form-group">
                                <label for="NewPasswordRepeat">تکرار رمزعبور جدید</label>
                                <input asp-for="NewPasswordRepeat" id="NewPasswordRepeat" type="password" placeholder="رمزعبور جدید را دوباره وارد کنید" class="form-control" required>
                                @Html.ValidationMessageFor(m => m.NewPasswordRepeat)
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">ذخیره </button>
                            <a class="btn btn-warning" asp-controller="Dashboard" asp-action="Index">لغو</a>
                        </div>

                        <div style="margin-top:10px;color:red" class="form-group">
                            @Html.ValidationSummary()
                            @ViewBag.ErrorMessage
                        </div>
                    </form>
                </div>
            </div>
        </div>


    }

}
@section script{





}